<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.survey">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SurveyDashboard"></activity>
        <activity android:name=".user.UserShowQuestionsActivity" />
        <activity
            android:name=".user.UserInfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DisplayTextQuestion"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SatisfactionQuestionACtivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RatingBarQuestionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SlidingQuestionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".answers.NumberInputAnswer"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NumberInputQuestion"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManageSurvey"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StartSurvey"
            android:screenOrientation="landscape" />
        <activity
            android:name=".QuestionsList"
            android:screenOrientation="landscape" />
        <activity
            android:name=".QuestionTypes"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TwoChoiceQuestion"
            android:screenOrientation="landscape" />
        <activity
            android:name=".answers.TwoChoiceAnswer"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MultipleChoiceQuestion"
            android:screenOrientation="landscape" />
        <activity
            android:name=".answers.MultipleChoiceAnswer"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TextInputQuestion"
            android:screenOrientation="landscape" />
        <activity
            android:name=".answers.TextInputAnswer"
            android:screenOrientation="landscape" />
    </application>

</manifest>